<div class="centered">

  <h1>
  <%= @post.title %>
  </h1>

  <div>
    <%= @post.content %>
  </div>

  <div class="margin-top-50">
    <%= link_to 'Retour', blog_path(@blog), class: "btn btn-default" %>
  </div>
</div>

